{{ ansible_managed }}
[Unit]
Description={{ flaskapp_appname }} Service
After=network.target

[Service]
User={{ flaskapp_service_user }}
Group={{ flaskapp_service_group }}
Environment=FLASK_APP={{ flaskapp_appname }}.py
Environment=FLASK_CONFIG=production
WorkingDirectory=/opt/{{ flaskapp_appname }}
ExecStart=/usr/bin/gunicorn -b {{ ansible_default_ipv4.address }}:8888 -w 4 {{ flaskapp_appname }}:app
Restart=always

[Install]
WantedBy=multi-user.target